.home-header {
    height: 100vh;
    padding-top: var(--offset-top);
    overflow: hidden;

    .swiper-wrapper {
        height: 100%;
        display: flex;
    }

    @media screen and (max-width: 900px) {
        height: 500px;
    }

    @media screen and (max-width: 620px) {
        height: 300px;
    }
}