.full-screen_loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    background: linear-gradient(120deg, var(--color-pink) 25%, var(--color-dark) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s;

    svg {
        font-size: 3rem;
        color: #fff;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
    }
}

.hide {
    animation: hide .5s linear 1s forwards;
}

@keyframes hide {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        z-index: -1;
    }
}
