.main-navbar_navbar {
    grid-row: 1 span 1;
    grid-column: 3 / 4;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;

    &_item {
        a {
            color: #fff;
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 800px) {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        background-color: var(--color-dark);
        padding: 1rem 0;
        grid-area: unset;

        &_item {
            margin: 0 1rem;
        }
    }
    
}