.main-navbar_search {
    grid-row: 1 span 1;
    grid-column: 2 span 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    input[type=text] {
        width: 100%;
        padding: 0.8rem;
        padding-right: 3rem;
        border-radius: 50px;
        outline: none;
        border: none;
        font-weight: bold;
        font-family: var(--font-alegraya);
    }

    &_submit-button {
        width: 50px;
        height: 100%;
        color: #fff;
        padding: 0.8rem;
        border-radius: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
        outline: none;
        background-color: var(--color-pink);
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    @media screen and (max-width: 800px){
        width: 100%;

        input[type=text] {
           width: 100%;
        }
    }
}