.detalis {

    .cast-carousel {
        margin-top: 3rem;
        color: #fff;
        overflow: hidden;
        font-family: var(--font-alegraya);

        .swiper-wrapper {
            display: flex;

            .swiper-slide {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: .7;
                margin-bottom: 2rem;
                transition: all 0.4s;

                img {
                    border-radius: 10px;
                    height: 150px;
                }

                p {
                    margin-top: 1rem;
                }

                &:hover {
                    opacity: 1;
                    transform: scale(1.1)
                }
            }
        }
    }
}