.home-page .items-carousel .swiper-slide {
    text-decoration: none;
    flex-shrink: 0;
    transition: all 0.3s;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.699);
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
        transform: scale(1);
        opacity: 1;
    }

    .item_image-wrapper {
        position: relative;

        img {
            border-radius: 10px;
        }
    
        &_rating {
            position: absolute;
            top: 1rem;
            left: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px; 
            background-color: rgba(0, 0, 0, 0.616);
            padding: 0.5rem;
            display: flex;
            align-items: center;
            
            svg {
                margin-right: 0.5rem;
            }
        }

        @media screen and (max-width: 725px) {
            img {
                width: 92px;
            }

            &_rating {
                padding: 0.25rem;
                font-size: 0.8rem;
            }
        }
    }

    .item-title {
        font-weight: bold;
        margin: 1rem 0;
    }

    .item-genres {
        font-size: 0.9rem;
    }
}